---
## for haveged (better entropy for gpg)
- include: redhat-epel.yml

- name: yum | mig dependencies install
  yum: name={{item}} state=present update_cache=yes
  with_items:
    - git
    - readline-devel
    - mercurial
    - python-psycopg2
    - gnupg2
    - nginx
    - supervisor
## check separated role?
    - postgresql-server
    - postgresql-contrib
    - gcc
## more entropy? one or the other?
    - haveged
#    - rng-tools
## agent packaging
    - ruby
    - ruby-devel
    - rpm-build
## for wixl, but versions too low on centos7.1 and still missing libgcab
#    - intltool
#    - glib2-devel
#    - cairo-gobject-devel libgsf-devel libuuid-devel

- stat: path=/root/.ansible_postgresqlinitdb
  register: psqlinit
- name: initialize postgresql
  command: postgresql-setup initdb
  when: not psqlinit.stat.exists
- file: dest=/root/.ansible_postgresqlinitdb state=touch
  when: not psqlinit.stat.exists

- name: yum | Ensure postgresql is running and enabled on boot.
  service: name=postgresql state=started enabled=yes

- name: yum | Ensure haveged is running and enabled on boot.
  service: name=haveged state=started enabled=yes

- set_fact:
    nginx_conf: /etc/nginx/conf.d
    supervisor_confdir: /etc/supervisord.d
    supervisor_targetconf: mig.ini
    supervisor_service: supervisord

## default configuration file on centos include http server which would conflict with ours
#- file: dest=/etc/nginx/nginx.conf state=absent
#  when: mig_nginx_use_ssl is defined and not mig_nginx_use_ssl
#- file: src=/etc/nginx/conf.d/mig.conf dest=/etc/nginx/nginx.conf state=link force=yes
#  when: mig_nginx_use_ssl is defined and not mig_nginx_use_ssl
#  notify:
#    - restart nginx

- template: src=nginx-default-centos.conf dest=/etc/nginx/nginx.conf mode=0644 force=yes backup=yes
  when: mig_nginx_use_ssl is defined and not mig_nginx_use_ssl
  notify:
    - restart nginx

